/*---------------NavBar---------------*/
.navbar-logo span{
  font-size: 2vw;
  font-weight: 700;
  background-color: #f73353;
  padding: 3px;
  border-radius: 10px;
}
.navbar-logo img{
  width: 4rem;
}
.nav li a{
color: black;
font-size: 2vw
}
.logincart button{
  font-size: 1vw;
  padding: 4px;
}
.logincart img{
  width: 2.5vw;
}
.logincart span{
  font-size: 1vw;
}

/*------------- Hero ---------------*/
.handicon{
  width: 8vw;
}
.herosection{
  background-color: #83dfa2;
  line-height: 1.2;
  height: auto;
}
.herosection .boss{
  width: min-content;
}
.hero-left h2{
  color: navy;
  font-size: 1.2vw;
}
.hero-left p{
  color: darkblue;
  font-size: 2vw;
  font-weight: 700;
} 
.herosection .hero-image{
  width: 13vw;
}

/*------------- Popular ---------------*/
.polularContainer h2,
.realeted-container h2{
  font-size: 3vw;
}

/*------------ Item ----------------*/
.item:hover{
  transform: scale(95%);
}
.item p{
  font-size: 1vw;
}

/*------------- Offers ---------------*/
.offers-section{
  background-color: #dfb7f8;
}
.offers-left h2{
  font-size: 4vw;
  font-weight: 600;
}
.offers-left p{
  font-size: 1.3vw;
}
.offers-left h5{
  width: min-content;
  font-size: 1.3vw;
}
.offers-section img{
  width: 12vw;
}

/*------------- NewCollection ---------------*/
.new-collection-container h2{
  font-size: 3vw;
}

/*-------------- NewsLetter --------------*/
.newsletter-container h2{
  font-size: 3vw;
}
.newsletter-container p{
  font-size: 1.3vw;
}
.newsletter-container button{
  font-size: 1vw;
  padding: 3px;
}
.newsletter-container input{
  height: 4vh;
}

/*-------------- Footer --------------*/
.footer-container ul li a{
  font-size: 1.4vw;
}
.footer-container .logo{
  width: 6vw;
}
.footer-container h3{
  font-size: 2vw;
}
.footer-container .pin,
.footer-container .what,
.footer-container .insta{
  width: 2vw;
}
.footer-container p{
  font-size: 1.4vw;
}

/*------------- ShopCategory---------------*/
.shopCategory-container .showingtext{
  font-size: 1.3vw;
}
.shopCategory-container button{
  font-size: 1.1vw;
  padding: 3px;
}

/*------------- Login ---------------*/
.login-container {
  background-color: pink;
  height: 100vh;
}
.login-container h1{
  font-size: 3vw;
}
.login-container input{
  font-size: 3vh;
}
.login-container button{
  font-size: 1.2vw;
  padding: 3px;
}
.login-container p,
.login-container label{
  font-size: 1vw;
}

/*------------- SignUp ---------------*/
.signup-container{
  background-color: pink;
  height: 100vh;
}
.signup-container h1{
  font-size: 3vw;
}
.signup-container input{
  font-size: 3vh;
}
.signup-container button{
  font-size: 1.2vw;
  padding: 3px;
}
.signup-container p,
.signup-container label{
  font-size: 1vw;
}

/*-------------- Breadcrum --------------*/
.breadcrum h6{
  font-size: 1.5vw;
}
.breadcrum img{
  width: 0.8vw;
}

/*-------------- Product --------------*/
.product-container h4{
  font-size: 2vw;
}
.product-container p{
  font-size: 1.3vw;
}
.product-container p img{
  width: 1vw;
}
.product-container p span{
  font-size: 1vw;
}
.product-container .size-div{
  font-size: 1.4vw;
}
.product-container button{
  font-size: 1vw;
  padding: 3px;
  font-weight: 600;
  width: 25%;
}
.product-container h6{
  font-size: 1.3vw;
}

/*-------------- Cart --------------*/
.cart-container h2{
  font-size: 3vw;
}
.cart-container h5{
  font-size: 1.4vw;
}
.cart-container img{
  width: 5vw;
}
.cart-container p{
  font-size: 1vw;
}
.cart-container .col-2{
  text-align: center;
}
.cart-container button{
  font-size: 1vw;
  padding: 3px;
}
.cart-container h4{
  font-size: 1.8vw;
}

@media (max-width : 576px){
  .navbar-logo img{
    width: 2rem;
  }
  .logincart button{
    font-size: 1.5vw;
    padding: 3px;
  }
  .logincart img{
    width: 5vw;
  }
}

@media (max-width : 995px){
  .newsletter-container input{
    font-size: 1.3vw;
    height: 2vh;
  }
  .login-container input,
  .signup-container input{
    font-size: 1.1vh;
  }

}